language: java

jdk:
  - openjdk8

cache:
    directories:
     - $HOME/.sonar
     - $HOME/.m2
  
jobs:
  include:
    - stage: Test
      script: ./mvnw clean install -B -V
    - stage: Quality Checks
      script: ./mvnw sonar:sonar -Dsonar.login=$SONAR_TOKEN -B -V
      if: branch = master
    - stage: Quality Checks
      script: ./mvnw sonar:sonar -Dsonar.login=$SONAR_TOKEN -Dsonar.branch.name=$TRAVIS_BRANCH -B -V
      if: branch != master
    - stage: Build Docker image
      script: ./mvnw dockerfile:build dockerfile:push -Ddockerfile.username=$DOCKERHUB_USER -Ddockerfile.password=$DOCKERHUB_PASSWORD -B -V
      if: branch = master